<ion-view title="Centros de Colheita" id="page10">

  <ion-content padding="true">

    

  <div class="list card">
    
    <div class="item  item-icon-right" ng-click="show = !show">
      <h2 class="">Nome Centro de Colheita</h2>
      <h4>Horario de Funcionamento</h4>
      <i class="icon ion-location energized" ></i> 
  </div>

    <div class="item item-image " ng-show="show">
    
    <div id="map" data-tap-disabled="true"></div>
  </div>


  <div ng-show="show">
    <a class="item item-icon-left" href="#">
    Teste Confidentia
    </a>
  </div>
  
  </ion-content>
</ion-view>
