<ion-view title="Favoritos" id="page3" cache-view="false">

  <div class="bar bar-subheader">
    <div class="buttons">
      
        <button class="button button-icon icon ion-ios-minus assertive" 
        ng-click="favoritos.showDelete = !favoritos.showDelete; favoritos.showReorder = false"></button>
        <h5 class="stable"> Apagar</h5>
      </div>
      <h1 class="title"></h1>
      <div class="buttons">
        <h5 class="stable"> Atualizar</h5>
        <button class="button button-icon icon ion-refresh energized" ng-click="doRefresh()"></button>
      </div>
    </div>
  

<ion-content padding="true" class="has-subheader" scroll-sista="header-tabs" overflow-scroll="false">
   
   <ion-list show-delete="favoritos.showDelete" show-reorder="favoritos.showReorder">
      
     <ion-item class ="card" ng-repeat="item in favoritos" ng-click="show = !show" class="item-remove-animate">
       <!--img src="img/logo.png"-->
       <span class="badge badge-balanced">{{item.codigo}}</span>
     <h3>{{item.designacao}}</h3>
     <h4 class="balanced">{{item.grupo}}</h4>
     <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(item)"></ion-delete-button>
        <ion-option-button class="button-assertive" ng-click="edit(item)">
          Edit
        </ion-option-button>
        <ion-option-button class="button-calm" ng-click="share(item)">
          Share
        </ion-option-button>    
       <div class="item-body"ng-show="show">
        <p>{{item.instrucaoColheita}}</p>
        <p>{{item.instrucaoPreparacao}}</p>
        <h4>{{item.manualcolheitaDesignacao}}</h4>
        <h4>Produto: <span class="balanced">{{item.produtoColher}}</span></h4>   
        <h4 class="subdued">Tempo: <span class="balanced">{{item.tempoExecucao}}</span></h4>
        <h4 class="subdued">Colher: <span class="balanced">{{item.qtColher}}</span></h4>
       </div>  
       </ion-item>
     </ion-list>

</ion-content>
</ion-view>
