<ion-view title="Favoritos" id="page3" cache-view="false">


<ion-content padding="true" scroll-sista="header-tabs" overflow-scroll="false">
   
  <div ui-state="activeTab" class="card" default="1" ng-repeat="item in favoritos">
  <ul class="nav nav-tabs">
    <li ui-class="{'active': activeTab == 1}">
      <a ui-set="{'activeTab': 1}">Exame</a>
    </li>
    <li ui-class="{'active': activeTab == 2}">
      <a ui-set="{'activeTab': 2}">Produtos</a>
    </li>
    <li ui-class="{'active': activeTab == 3}">
      <a ui-set="{'activeTab': 3}">Instruções</a>
    </li>
    <li ui-class="{'active': activeTab == 4}">
      <a ui-set="{'activeTab': 4}">Colheita</a>
    </li>
  </ul>
        

  <div ui-if="activeTab == 1" class="item item-divider item-icon-right">
    <h3 class="page-header calm">{{item.designacao}}</h3>
    <h4>Código : <span class="calm">{{item.codigo}}</span></h4>
    <h4>Grupo : <span class="calm">{{item.grupo}}</span></h4>
    <i class="calm" id="icon" ng-class="item.added ? 'icon ion-ios-star-outline' : 'icon ion-ios-star energized'" ng-click="GuardaFavorito(item)"></i>
  </div>

  <div ui-if="activeTab == 2" class="item item-body item-divider">
    <p class="text-justify">{{item.instrucaoColheita}}</p>
  </div>

  <div ui-if="activeTab == 3">
   <pre>
        {{item.instrucaoPreparacao}}
   </pre>
  </div>

  <div ui-if="activeTab == 4" class="item item-divider" >
    <h4>Produto : <span class="calm">{{item.produtoColher}}</span></h4>   
    <h4>Tempo : <span class="calm">{{item.tempoExecucao}}</span></h4>
    <h4>Colher : <span class="calm">{{item.qtColher}}</span></h4>
    <h4>Revisão : <span class="calm">{{item.manualcolheitaDesignacao}}</span></h4>
  </div>
</div>

</ion-content>
</ion-view>
