<ion-view title="Laboratorio" id="page8">

<ion-content padding="true" class="has-header">
     <div id="map" data-tap-disabled="true"></div>
     
     <div class="card">
       <div class="item item-divider">
         <h2>Nome : </h2><span></span></h2>
         </div>
         <div class="item item-text-wrap">
           <h3>Morada : </h3><span>{{moradaLab}}</span>
           <h3>Localidade : </h3><span>{{localidadeLab}}</span>
           <h3>Código Postal : </h3><span>{{codigoPostalLab}}</span>
           <h3>Contato : </h3><span>{{contato}}</span>
           <h3>Fax : </h3><span>{{fax}}</span>
           <h3>Email : </h3><span>{{emailLab}}</span>
         </div>
         <div class="item item-divider">
           <h3>
              <i class="icon ion-ios-world-outline"> www.confidentia.pt</i>   
           </h3>
           <h3>
            <i class="icon ion-social-facebook positive" align="right"> acebook</i>
           </h3>      
         </div>
        </div>

</ion-content>
</ion-view>
