<ion-view title="Pesquisa" id="page2" cache-view="false">

  <div class="bar bar-subheader item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="Pesquisa"  ng-model="search" ng-change="onSearchChange()">
    </label>
    <button class="button button-clear" ng-click="apagar()">
    <h4 class="stable">Apagar</h4>
    </button>
  </div>

<ion-content  class="has-subheader" scroll-sista="header-tabs" overflow-scroll="false">

  <ion-item class="item item-divider" align="center">
    <h3>Ultima atulização :  <span class="positive"> {{dataAtual | date:'dd-M-yyyy H:mm'}}</span></h3>
  </ion-item>
  <ion-item class="item item-divider" align="center">
    <h3 class="positive" >Grupos Cientifícos</h3>   
  </ion-item>


<ion-list class="list">
    <ion-item class="item item-icon-right item-text-wrap " ng-repeat="item in grupos | filter: {grupo:search}" type="item-text-wrap" ng-click="PassaId(item.grupo)">
      <div>
       <span class="badge badge-positive">{{item.qtAnalises}}</span>
      </div>
       <h2>{{item.grupo}}</h2>
        <i class="icon ion-android-arrow-dropright energized"></i> 
    </ion-item>
</ion-list>

<ion-item class="item item-divider" align="center" ng-show="!show">
    <h3 class="positive">Analises Clínicas</h3>   
  </ion-item>
  
<div class="list" ng-show="!show">
      <div class="item item-icon-right item-text-wrap" ng-repeat="item in analises | orderBy: 'designacao' | filter: {designacao:search}" ng-click="PassaId2(item.numanalise)">
       <h3>{{item.designacao}}</h3><span class="positive">{{item.codigo}}</span>
       <i class="icon ion-android-arrow-dropright energized"></i> 
      </div>
    </div>

</ion-content>
</ion-view>
