/* Pagina de Login */
.login-content {
  position: absolute;
  top: 20px;
}

.login-header {
	text-align: center;
  font-size: 20px;
  line-height: 100%;
  position: center;
  margin-bottom: 20px;
}

.login-background {
	
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*Alterações nos tabs dos detalhes */
.nav-tabs > li > a {
  color: #367aa5;
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

/*configurações do mapa*/
body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100%;
}


/*Alteração das regras do paragrafo*/
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		color: slategrey;
}

/*-===========================.Pagina Perfil =====================-*/
.dashboard-main-container {
  padding-top: 10px;
  background: white;
  text-align: center; }
  .dashboard-main-container h3 {
    color: #37474F; }
  .dashboard-main-container .avatar-conatainer {
    position: relative; }
    .dashboard-main-container .avatar-conatainer img {
      width: 125px;
      height: 125px;
      border-radius: 100%;
      border: 2px solid #eff4ff; }
    .dashboard-main-container .avatar-conatainer .badge {
      position: absolute;
      background: #1568ff;
      border: 4px solid white;
      padding: 14px 6px;
      border-radius: 100%;
      color: white;
      font-weight: bold;
      margin-left: -30px;
      top: 64px; }
    .dashboard-main-container .avatar-conatainer .badge-notify {
      position: absolute;
      margin-left: 100px;
      top: 14px; }
  .dashboard-main-container .slider-pager {
    bottom: initial;
    font-size: 10px; }
    .dashboard-main-container .slider-pager .slider-pager-page {
      color: #1568ff; }
      .dashboard-main-container .slider-pager .slider-pager-page.active {
        font-size: 14px; }
  .dashboard-main-container .box {
    padding-top: 20px;
    padding-bottom: 20px; }
		
/*loading configuração */
 .loading-container .loading {
    background-color: rgba(0, 0, 0, 0);
 }


/*Loading 2 progress bar*/
progress {
  background-color: #e0e0e0;
  border-radius: 4px;
  border: 0;
  height: 8px;
}
progress::-webkit-progress-bar {
  background-color: #e0e0e0;
  border-radius: 4px;
  border: 0;
  height: 8px;
}
progress::-webkit-progress-value {
  background: #367aa5;
  border-radius: 4px;
  border: 0;
  height: 8px;
}
progress::-moz-progress-bar {
  background-color: #367aa5;
  border-radius: 4px;
  border: 0;
  height: 8px;
}

.html5-progress-bar .progress-value {
  padding: 0px 5px;
  line-height: 20px;
  margin-left: 5px;
  font-size: .8em;
  font-weight: 600;
  font-family: "Open Sans";
  color: #367aa5;
  height: 18px;
  float: right;
}

/*Barra de Pesquisa*/
.bar.bar-subheader{
  background-color: #367aa5;
}


/* CCS Butão do popup alert*/
.popup-buttons .button:last-child{
		background-color:  #367aa5;
}
/* CSS for spinner*/
.spinner svg {
  width: 28px;
  height: 28px;
  stroke: #444;
  fill: #367aa5;
}

/* CSS do Loading */
#loadingbox{
	padding-top: 100px;
	width: 93px;
	margin: 0 auto;
	font-family: helvetica;
}

#loadingbox h2{
	text-transform: uppercase;
	font-size: 14px;
	color: red;
	margin-bottom: 15px;
}

.circle{
	border-radius: 50%;
}

#out{
	background-color: whitesmoke;
	position: relative;
	height: 81px;
	width: 81px;
	-webkit-box-shadow: inset 0px 0px 5px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    inset 0px 0px 5px 0px rgba(50, 50, 50, 0.3);
	box-shadow:         inset 0px 0px 5px 0px rgba(50, 50, 50, 0.3);
}

#in{
	background-color: white;
	position: absolute;
	height: 51px;
	width: 51px;
	margin: 15px;
	top: 0px;
	z-index: 2;
	-webkit-box-shadow:  0px 0px 5px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:     0px 0px 5px 0px rgba(50, 50, 50, 0.3);
	box-shadow:          0px 0px 5px 0px rgba(50, 50, 50, 0.3);
	font-size: 30px;
	text-align: center;
	color: black;
}

#in::after{
	content: "...";
	-webkit-animation: points linear 1s infinite;
	animation: points linear 1s infinite;
	overflow: hidden;
	display: inline-flex;
	width: 0%;
}

#quarterbox{
	position: absolute;
	height: 81px;
	width: 81px;
	-webkit-animation: loading linear 1s infinite;
	animation: loading linear 1s infinite;
}

#quarter{
	background-color: rgb(53, 207, 234);
	height: 41px;
	width: 41px;
	position: absolute;
	border-radius: 100px 0 0 0;
   	-moz-border-radius: 100px 0 0 0;
     	-webkit-border-radius: 100px 0 0 0;
	-webkit-animation: quarter linear 1s infinite;
	animation: quarter linear 1s infinite;
}

@-webkit-keyframes loading{
	0%{
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
	100%{
		-moz-transform: rotate(36deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
	}
}

@-webkit-keyframes points{
	0%{
		width: 0%;
	}
	33%{
		width: 20%;
	}
	66%{
		width: 50%;
	}
	100%{
		width: 100%;
	}
}

@-webkit-keyframes quarter{
	50%{
		background-color: rgb(53, 234, 207);
	}
	100%{
		background-color: rgb(53, 207, 234);
	}
}

@keyframes loading{
	0%{
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
	100%{
		-moz-transform: rotate(36deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
	}
}

@keyframes points{
	0%{
		width: 0%;
	}
	33%{
		width: 20%;
	}
	66%{
		width: 50%;
	}
	100%{
		width: 100%;
	}
}

@keyframes quarter{
	50%{
		background-color: rgb(53, 234, 207);
	}
	100%{
		background-color: rgb(53, 207, 234);
	}
}
